<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="Seed" value="123"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\dev\C#\MasterMindrw2\App_Data\Mastermind.mdf;Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="MasterMindrw2.MasterMindrw2" behaviorConfiguration="MasterMindrw2.MasterMindrw2Behavior">
        <!-- Definisanje krajnje tačke (endpoint) za izlaganje metoda servisa dostupnih klijentima -->
        <endpoint address="" binding="wsHttpBinding" contract="MasterMindrw2.IMasterMindrw2"/>
        <!-- Definisanje krajnje tačke (endpoint) za izlaganje meta podataka koji sadrže
             konfiguracione parametre krajnje tačke za povezivanje sa klijentima -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MasterMindrw2.MasterMindrw2Behavior">
          <!-- Definisanje metadata behavior propertija servisa
               kako bi se omogućilo servisu da objavi i izloži svoje meta podatke -->
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>